<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Ong da Mari</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400;900&display=swap");
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/">Loja da Mari</a>
        <form method="GET" action="/search">
          <input type="search" name="q" placeholder="Pesquise por categoria" />
        </form>
      </div>
    </header>

    <nav>
      <ul>
        <li class="active"><a href="/">Todos</a></li>
        <li><a href="/vestidos">Vestidos</a></li>
        <li><a href="/sapatos">Sapatos</a></li>
        <li><a href="/joias">Jóias</a></li>
      </ul>
    </nav>